<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Image to be shown as intro -->
    <img id="intro-image" src="static\img\University_of_Tehran_logo.png" alt="Intro Image" style="width: 250px; height: 250px;">
    <br>
    <div class="container">
        <br>
        <b><h1 >Stone Classification Project</h1></b>
        <i>
            <p>Marble, a metamorphic rock, is formed from the transformation of limestone or dolomite through heat and pressure deep within the earth's crust. 
            <!-- </p>
            <p> -->
                This process, known as metamorphism, causes the original minerals in the limestone to recrystallize into larger, interlocking crystals, resulting 
            <!-- </p>
            <p> -->
                in the characteristic veining and patterns that make marble so visually stunning.
            </p><br>
        </i>
    </div>

    <br>

    <form id="my_form" action="/" method="post" enctype="multipart/form-data">
        <br>
        <p>
            <h1>Upload Image</h1>
            <input type="file" name="file" accept="image/*">
        </p><br>
        <input class="button" id="upload_button" type="submit" value="Upload" onclick="showLoading()">
    </form>

    <br>

    <form id="my_form" action="/upload" method="post" enctype="multipart/form-data">
        <br>
        <p>
            <h1>Upload Image</h1>
            <input type="file" name="file" accept="image/*">
        </p><br>
        <input class="button" id="upload_button" type="submit" value="Upload" onclick="showLoading()">
    </form>

    <script>
        // Function to show the intro image from below
        function showIntroImage() {
            var introImage = document.getElementById("intro-image");
            var container = document.querySelector(".container")
            var containerElements = document.querySelectorAll(".container *");
            
            // Hide other elements
            containerElements.forEach(function(element) {
                element.style.display = "none";
            });
            document.querySelector("h1").style.display = "none"; // Hide the h1 element
            document.querySelector("form").style.display = "none"; // Hide the form element

            
            introImage.style.bottom = "300px"; // Move the image to the center
            // Set timeout to hide the image and show other elements again after 5 seconds (adjust as needed)
            setTimeout(function() {
                introImage.style.display = "none"; // Hide the image
                document.querySelector("h1").style.display = "block"; // Show the h1 element
                document.querySelector("form").style.display = "block"; // Show the form element
                containerElements.forEach(function(element) {
                    element.style.display = "block";
                });

                // Change background color of container
                // container.style.backgroundColor = "rgb(204,204,204)"; // Change to desired color
                document.body.style.backgroundColor = "#000";
                container.style.backgroundImage = "url('static/img/B_image_22.jpg')";
                document.getElementById("my_form").reset();
            }, 3000); // 4000 milliseconds = 5 seconds
        }

        // Function to apply loading style to button
        function showLoading() {
            var uploadButton = document.getElementById("upload_button");
            uploadButton.classList.add("loading");
        }

        // Call the showIntroImage function when the page loads
        window.onload = showIntroImage;
    </script>
</body>
</html>
